.gallery {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, fit-content(284px));
  gap: 16px;
  margin-bottom: 92px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 928px;
    grid-template-columns: repeat(3, fit-content(300px));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(2, fit-content(352px));
    gap: 16px;
    margin-bottom: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: fit-content(288px);
    margin-bottom: 64px;
    gap: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}