.gallery {
  display: grid;
  max-width: 1184px;
  width: 100%;
  grid-template-columns: repeat(4, fit-content(284px));
  gap: 16px;
  margin: 0 auto 102px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 928px;
    grid-template-columns: repeat(3, fit-content(300px));
    gap: 14px;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(2, fit-content(352px));
    gap: 16px;
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: fit-content(288px);
    margin: 0 auto 64px;
    gap: 12px;
  }
}