.place__link-name {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}

.place__link-name:hover {
  opacity: 0.8;
  transition: 0.2s;
}

@media screen and (min-width: 570px) and (max-width: 600px) {
  .place__link-name {
    font-size: 16px;
  }
}