.place__text {
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.625;
  }
}

@media screen and (max-width: 570px) {
  .place__text {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}
