.footer__link {
  margin: 0;
  margin-right: 16px;
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
}

.footer__link:hover {
  opacity: 0.8;
  transition: 0.2s;
}

@media screen and (max-width: 655px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    display: block;
    margin-right: 0;
    margin-bottom: 32px;
  }
}