.header__top {
  margin: 0 auto;
  padding-top: 28px;
  display: grid;
  height: 52px;
  grid-template-columns: 1fr 30px 30px;
  column-gap: 18px;
  max-width: 1184px;
}

@media screen and (max-width: 768px) {
  .header__top {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header__top {
    max-width: 288px;
    grid-template-columns: 1fr 22px 22px;
    height: 42px;
  }
}