.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 655px) {
  .footer {
    grid-template-columns: none;
    max-width: 288px;
    margin-left: 16px;
  }
}
